._wrp.contacts
	width 100%

	& ._content
		width 500px
		padding 0 80px
		margin 0 auto

	& ._social
		width 150px
		padding-left 20px
		float right
		font 800 italic 13px/1.2 fAgora

		& ul
			list-style-type none
			padding-left: 30px;

		& li
			padding-bottom 7px

	& .passage
		padding-left 80px
		margin 0 0 30px -80px
		background-position center left
		background-repeat no-repeat

		& dt
			font-weight 800

		& dd
			margin-left 0

.contacts-map
	margin-top 15px
	height 545px
	background #ccc