.footer-navigation
	background footerBg
	padding 17px 0
	transition background baseTrans

	& > ul
		wrapper(wrapperWidth)
		list-style-type none
		padding-left 0
		text-align center
		height 30px
		font 700 italic 13px/27px fAgora

		.lt-ie9 &
			font-size 11px

		&:before,
		&:after
			font 600 30px/25px fAgora
			color linkColor

		&:before
			content '{'
			float left

		&:after
			content '}'
			float right

	& > ul > li
		ib()
		position relative
		padding 0 22px

		&:after,
		&:first-child:before
			content ''
			width 4px
			height 3px
			background url(blackDot) no-repeat 0 0

			position absolute
			top 12px
			right -2px

		&:first-child:before
			left -2px


		&.__active:after,
		&.__active:before
			content ''
			width 21px
			height 9px

			position absolute
			top 9px

		&.__active:after
			background url(rightMonogram) no-repeat 0 0
			right: -14px

		&.__active:before
			background url(leftMonogram) no-repeat 0 0
			left: -14px

	& a
		ib()
		text-decoration none


	& ._inner
		position absolute
		top -65px
		left 50%
		pointer-events none
		opacity 0
		transition all .3s

		.lt-ie9 &
			display none !important

		&.__expanded
			top -45px
			opacity 1
			pointer-events all

			.lt-ie9 &
				display block !important

		& ul
			ib()
			margin 0 0 0 -100%
			padding 7px 15px
			background linkColor
			white-space nowrap
			box-sizing border-box

		& ul:after
			content ''
			position absolute
			bottom -4px
			left -4px
			width 8px
			height 8px

			background linkColor
			transform rotate(45deg)

		&.__expanded ul
			height 41px
			overflow visible

			.lt-ie8 &
				height 25px


		& li
			ib()
			padding-right 20px

		& li:last-child
			padding-right 0

		& a
			color white

		& sup
			font-size 9px

		& .__active a,
		& a:hover
			color black

		& .__active a
			cursor default
			pointer-events none