.home-navigation
	margin-bottom 85px
	text-align center

	& ul
		ib()
		list-style-type none
		margin 0
		padding 0

	& li
		ib()
		margin 0 15px

		&.__active
			border-bottom 1px solid linkColor
	
	& a
		display block

		padding 15px 10px
		font 700 italic 14px/1.5 fAgora
		text-decoration none

	& .__active a
		cursor default