.housing
	justify-ib_wrp(18px)

	padding 0
	margin 40px 0

	list-style-type none

	& li
		justify-ib_ch(18px)

		padding 13px
		min-height 97px
		max-width: 160px

		font 700 12px/18px fAgora
		text-align center
		vertical-align top

		background-color #fff

		.lt-ie8 &
			min-height 120px
			margin-right 35px
			padding 13px 18px

	& .__ico
		height 50px
		width 100%
		margin-bottom 10px

		display block

		background-position center center