._wrp.infrastructure
	
	width 100%

	& ._content
		width 500px
		padding 0 80px
		margin 0 auto

	& .tabs
		text-align center

	& .places
		justify-ib_wrp(16px)
		padding-left 0
		margin 0 auto
		width 1000px

	& .places li
		justify-ib_ch(16px)
		width 190px
		min-height 80px
		padding 20px
		margin-bottom 20px

		vertical-align top
		text-align left

		font 700 12px/16px fAgora

		background white

		.lt-ie8 &
			margin-right 20px
			padding 13px 18px

	& .infrastructure-map
		height 546px
		background #ccc

	.lt-ie8 & .js-expander
		ib()
		margin-right 100%
		white-space nowrap
