.__mainpage
	background-image url('../i/mainpage_bg.jpg')
	display table

	& .body_wrp
		display table-cell
		vertical-align middle
		text-align center
		padding-bottom 200px

	& .header,
	& .footer
		ib()

	& ._logo:hover
		background-color transparent

	& .body_wrp
		background transparent

		.lt-ie8 &
			margin-top 11%
			min-height 57%

	& .footer
		position static

		& ._after
			position absolute
			bottom 0
			color #fff
			transition background baseTrans
			border-radius 5px

			.lt-ie8 &
				left 50%
				margin-left -500px
			
			&:hover
				background mainpageOpaque

			& a
				color #fff

				&:hover
					text-decoration none

	& .footer-navigation
		background transparent
		border-radius 10px

		&:hover
			background mainpageOpaque

		&:after
			content: ''
			display block
			margin 45px auto 0
			width 104px
			height 21px
			background url(mainNavAfter) no-repeat 0 0

		& ul:before,
		& ul:after
			font-size 60px
			color #fff

		& ul > li
			padding 0 15px			

			&:after,
			&:first-child:before
				background-image url(whiteDot)
				height 4px

		& a
			color white
			font-size 15px

			&:hover
				text-decoration underline

			.lt-ie9 &
				font-size 14px