.news
	& ._prev,
	& ._content
		float left

	& ._next,
	& ._prev
		width 170px
		margin-top 40px

	& ._next
		float right
		text-align right

	& ._prev .__ico,
	& ._next .__ico
		margin-top -8px

	& ._prev .__ico
		float right

	& ._next .__ico
		float left

	& ._prev a,
	& ._next a
		display block
		text-decoration none
		min-height 100px

	& ._prev ._date,
	& ._next ._date
		color lightGrey
		transition color baseTrans

	& ._prev a:hover ._date,
	& ._next a:hover ._date
		color black

	& ._content
		margin 0 65px 0 75px
		width 520px

		& .content-gallery,
		& .inline-photos
			position relative
			left -75px
			width 660px