.photo-gallery
	position relative
	margin 40px 0 90px
	min-height 570px
	width 100%
	overflow visible

	transition margin-left xxTrans

	& ._frame
		clearfix()
		width 100500px

	& figure
		position relative
		float left
		opacity .5
		overflow hidden
		cursor pointer

		transition opacity xxTrans

		z-index 40

		&:last-child.__active
			cursor default
			pointer-events none

		&:not(.__active):hover
			opacity .7

	& figcaption
		position absolute
		bottom -100%
		padding 15px 100px

		font 700 italic 13px/1.5 fAgora
		color white
		text-align center

		background #343434
		background rgba(0,0,0,.4)

		transition bottom xxTrans
	
	& img
		float left

	& header
		margin-bottom 10px

	& p
		margin 0

	._prev,
	._next
		width 40px
		height 40px
		border-radius 100%
		position absolute
		top 50%
		margin-top -20px

		z-index 50
		cursor pointer

		opacity .8
		transition all xxTrans

		&:hover
			opacity 1

		&.__disabled
			cursor default
			pointer-events none
			opacity .2

	._prev
		left 50px
		background #fff url(galleryPrev) no-repeat 12px center

	._next
		right 10px
		background #fff url(galleryNext) no-repeat 15px center

	& .__active
		opacity 1

		& figcaption
			bottom 0