// Boilerplate
// ----------------------------------------------------------------------------------

@import 'lib/nib'

@import 'boilerplate/font.styl'
@import 'boilerplate/normalize.styl'

// ----------------------------------------------------------------------------------
// /Boilerplate



// Base
// ----------------------------------------------------------------------------------

@import 'base/variables.styl'
@import 'base/helpers.styl' 

@import 'base/layout.styl' // Global wrappers stuff
@import 'base/typography.styl' // Common typography
@import 'base/icons.styl' // Icons

// ----------------------------------------------------------------------------------
// /Base


// Blocks
// ----------------------------------------------------------------------------------

// Goes by 'less specific' --> 'more specific' order
@import 'blocks/header.styl'
@import 'blocks/footer.styl'
@import 'blocks/content.styl'
@import 'blocks/footer-navigation.styl'
@import 'blocks/tabs.styl'
@import 'blocks/housing.styl'
@import 'blocks/side-menu.styl'
@import 'blocks/content-gallery.styl' // inline-photos too
@import 'blocks/mainpage.styl'
@import 'blocks/home-navigation.styl'
@import 'blocks/home-start.styl'
@import 'blocks/plan-gallery.styl'
@import 'blocks/photo-gallery.styl'
@import 'blocks/news.styl'
@import 'blocks/contacts.styl'
@import 'blocks/infrastructure.styl'
@import 'blocks/place.styl'
@import 'blocks/ymap.styl'

// ----------------------------------------------------------------------------------
// /Blocks


// Cosmetic
// ----------------------------------------------------------------------------------

@import 'cosmetic/print.styl'
@import 'cosmetic/cosmetic.styl'

// ----------------------------------------------------------------------------------
// /Cosmetic